<%- include('./header') -%>
<body>

  <div class="container-fluid mt-3">
    <h1>Mi App Chat</h1>
    <hr>
<%- include('./products') -%>
<%- include('./chat') -%>
  </div>

  <script src="js/main.js"></script>

</body>

</html>