<form class="form-inline" onsubmit="return addProduct(this)" autocomplete="off">
    <input type="text" id="title" class="form-control my-2 mr-2" placeholder="Product Name">
    <input type="number" id="price" class="form-control my-2 mr-2" placeholder="Price">
    <input type="url" id="snapshot" class="form-control my-2 mr-2" placeholder="Picture URL">
    <input class="btn btn-primary my-2" type="submit" value="Enviar!">
  </form>
  
  <div >
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
          </tr>
        </thead>
          <tbody id="products">

          </tbody>
      </table>
  </div>